name: CI

on:
  pull_request:
    branches: [ main, "release/*" ]
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "LICENSE"
      - ".gitignore"
  push:
    branches: [ main ]
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "LICENSE"
      - ".gitignore"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  python:
    uses: nikolareljin/ci-helpers/.github/workflows/python.yml@production
    with:
      python_version: "3.12"
      working_directory: "."
      extra_command: "./update"
      lint_command: "./lint"
      test_command: "./test"
